<h1>Titulo de proyecto</h1>
<p>Primer chat simulado</p>

<input type="text" id="chat-box" >
<div>
    <p id="message-logs"></p>
</div>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
{{!-- <script src="https://cdn.socket.io/socket.io-4.8.1.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/main.js"></script>